<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reader cards</title>
</head>
<body>
<div>
  <h2>Reader cards</h2>
</div>
<div>
  <table th:object="${cards}">
    <tr>
      <th>ID</th>
      <th>Reader ID</th>
      <th>Issued by</th>
      <th>Issued on</th>
      <th>Expires on</th>
    </tr>
    <tr th:each="card : ${cards}">
      <td><a th:href="@{/admin/cards/{id}(id=${card.id})}" th:text="${card.id}"></a></td>
      <td><a th:href="@{/admin/readers/{id}(id=${card.readerId})}" th:text="${card.readerId}"></a></td>
      <td><a th:href="@{/admin/librarians/{id}(id=${card.librarianId})}" th:text="${card.librarianId}"></a></td>
      <td th:text="${card.issuedOn}"></td>
      <td th:text="${card.expiresOn}"></td>
    </tr>
  </table>
</div>
</body>
</html>